body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #484848;
    color: #ffffff;
    padding: 1em 4em;
    margin: 0;
    font-family: system-ui;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #2c2c2c 20%, #424242 80%, #44414100);
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    height: 15vh;
    position: fixed;
}

header > div,
header > nav {
    width: 45%;
}

div.site-logo img {
    max-width: 100%;
    height: auto;
}

nav.widget.nav-menu ul,
aside.widget ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
}

aside.widget ul {
    justify-content: center;
}

nav.widget.nav-menu ul a,
aside.widget ul a {
    text-decoration: none;
    color: #fff;
    margin: 0 0.5em;
    transition: .5s;
    font-size: 20px;
}

aside.widget ul a {
    font-size: 14px;
}

nav.widget.nav-menu ul a:hover,
aside.widget ul a:hover,
p.category a:hover,
div.categories a:hover {
    color: #ff3500;
    transition: .5s;
}

aside.widget ul a:hover {
    font-size: 16px;
}

main {
    margin: 8em 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

div.post {
    font-size: 18px;
    width: 45%;
    margin-bottom: 2em;
}

div.post h2 a {
    text-decoration: none;
    color: #ff3500;
    transition: .5s;
}

div.post h2 a:hover,
p.excerpt a {
    text-decoration: underline;
    transition: .5s;
}

p.category,
div.categories {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    align-items: baseline;
}

div.categories {
    justify-content: center;
    font-size: 16px;
    margin-top: -50px;
}

div.categories p {
    margin: 0;
}

p.category a,
div.categories a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    transition: .5s;
    margin-left: 5px;
}

div.categories a {
    font-style: normal;
}

p.excerpt a,
.pagination a {
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    color: #ff3500;
}

.pagination a {
    font-size: 18px;
    margin: 0 5px;
    font-style: normal;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    background: linear-gradient(to top, #2c2c2c 20%, #424242 80%, #44414100);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}